body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua;
}

header,
main {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 30px calc((100% - 1100px) / 2);
    margin-bottom: 0;
    align-items: center;
}

header{
    background-color: #303A43;
    width: 1100px;
    height: 90px;
    

}

.logo {
    width: 300px;
    height: 50px;
    object-fit: contain;
    object-position: center left;
    margin-left: 40px;

}
.nav{
    display: flex;
    gap: 10px;
    margin-right: 40px;
    align-items: center;
    


}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 15px;
 
}

.navbotton{
    display: flex;
    padding: 20px;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbotton:hover {
    background-color: white;
    color:black;
    text-decoration:underline;
}

.navbotton::hover {
     text-decoration:underline;

}

main {
    width: 1100px;
    height: 700px;
    background-image: url(/background.png);
    background-repeat:no-repeat;
    background-size:cover;
    margin-top: 0;
    
}
.maintext {
   
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 150px;
}
.mainbutton {
    display: flex;
    flex-direction: column;

}
h1 {
    font-size: 15px;
}

p{
    font-size: 10px;
}

.mainbuttona {
    
    
    display: flex;
    padding: 20px;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid white;
    
   
}
.mainbuttonb {
    background-color: white;
    width: 90%;
    height: 100px;
    
    
    
}